html {  -webkit-tap-highlight-color:transparent; }
.game {
	text-align: center;
	min-width: 50vh;
	margin: auto;
}
#startButton {
	width: 80px;
	height: 40px;
	margin-bottom: 20px;
	font-size: 15px;
	font-weight: bold;
	border: 3px solid;
	border-top-color: green;
	border-right-color: darkred;
	border-bottom-color: blue;
	border-left-color: gold;
}

/*          blocks           */
.block {
	width: 13vh;
	height: 13vh;
	display: inline-block;
	-webkit-user-select: none;  /* Chrome all / Safari all */
	-moz-user-select: none;     /* Firefox all */
	-ms-user-select: none;      /* IE 10+ */
	user-select: none;          /* Likely future */
}
.tl {
	border-top: 17vh solid;
	border-left: 17vh solid;
	border-top-left-radius: 100%;
}
.tr {
	border-top: 17vh solid;
	border-right: 17vh solid;
	border-top-right-radius: 100%;
}
.bl {
	border-bottom: 17vh solid;
	border-left: 17vh solid;
	border-bottom-left-radius: 100%;
}
.br {
	border-bottom: 17vh solid;
	border-right: 17vh solid;
	border-bottom-right-radius: 100%;
}

/*          colors           */
.d-green { border-color: green; }
.l-green { border-color: lawngreen; }

.d-red { border-color: darkred; }
.l-red { border-color: rgb(254, 42, 42); }

.d-yellow { border-color: orange; }
.l-yellow { border-color: yellow; }

.l-blue { border-color: rgb(0, 200, 255); }
.d-blue { border-color: blue; }
